@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap");
* {
  font-family: "Roboto", sans-serif;
}
h1 {
  color: crimson;
}
input {
  width: 250px;
  height: 20px;
  border: 2px solid crimson;
  border-radius: 5px;
}
#btn {
  height: 40px;
  width: 80px;
  background-color: crimson;
  color: white;
  border-radius: 4px;
}
.info {
  height: 200px;
  width: 300px;
  font-size: 15px;
}
